/* 7.1 example of a variable */
$fntsize: 23;

/* 7.2 example of nesting */
body {
    .th {
      font-size: 18;
      }
    .td {
      font-family: monospace ;
      font-size: $fntsize ;
      }
   }
